{
  "development": {
    "username": "xxxx",
    "password": "xxxx",
    "database": "xxxx",
    "host": "localhost",
    "dialect": "mysql"
  },
  "test": {
    "username": "xxxx",
    "password": "xxxx",
    "database": "xxxx",
    "host": "localhost",
    "dialect": "mysql"
  },
  "production": {
    "username": "xxxx",
    "password": "xxxx",
    "database": "xxxx",
    "host": "localhost",
    "dialect": "mysql"
  }
}
