{
  "development": {
    "username": "xxxx",
    "password": "xxxx",
    "database": "xxxx",
    "host": "xxxx",
    "dialect": "xxxx"
  },
  "test": {
    "username": "xxxx",
    "password": "xxxx",
    "database": "xxxx",
    "host": "xxxx",
    "dialect": "xxxx"
  },
  "production": {
    "username": "xxxx",
    "password": "xxxx",
    "database": "xxxx",
    "host": "xxxx",
    "dialect": "xxxx"
  }
}
